</div>
  </div>
</div>
</div>
</div>
</section>
<div class="has-text-centered">
    <a href="https://omarjuice.github.io/"><img id="OJicon" src="images/OJICONtrue.png" alt="" srcset=""></a>
</div>
</body>
</html>