<% include partials/header %>



    <h1 class="title">
        Microservices API
    </h1>
    <h2 class="subtitle">
        A few small APIs:
        <aside class="menu">
  
  <ul class="menu-list">
    <li class="list-item"><a class="link" href="/timestamp"><span class="icon"><i class="fas fa-clock"></i></span>TimeStamp <span class="icon"><i class="fas fa-clock"></i></span></a></li>
    <li class="list-item"><a class="link" href="/shorturl"><span class="icon"><i class="fas fa-link"></i></span>URL Shortener<span class="icon"><i class="fas fa-link"></i></span></a></li>
    <li class="list-item"><a class="link" href="/exercise"><span class="icon"><i class="fas fa-running"></i></span>Exercise Tracker<span class="icon"><i class="fas fa-dumbbell"></i></span></a></li>
    <li class="list-item"><a class="link" href="/filemeta"><span class="icon"><i class="fas fa-file"></i></span>File Metadata<span class="icon"><i class="fas fa-file"></i></span></a></li>
    <li class="list-item"><a class="link" href="/whoami"><span class="icon"><i class="fas fa-fingerprint"></i></span>Who am I?<span class="icon"><i class="fas fa-fingerprint"></i></span></a></li>
    <li class="list-item"><a class="link" href="/poem"><span class="icon"><i class="fas fa-star"></i></span>Random Poem Generator<span class="icon"><i class="fas fa-star"></i></span></a></li>
    <li class="list-item"><a class="link" href="/weather"><span class="icon"><i class="fas fa-sun"></i></span>Weather<span class="icon"><i class="fas fa-cloud-moon"></i></span></a></li>
 
  </ul>
</aside>
    </h2>
   


<% include partials/footer %>