<% include partials/header %>


<section class="hero has-text-centered">
<div class="hero-body">
  <div class="container">
  <div class="box">
    <h1 class="title">
        Microservices API
    </h1>
    <h2 class="subtitle">
        A few small APIs:
        <aside class="menu">
  
  <ul class="menu-list">
    <li class="list-item"><a href="/timestamp">TimeStamp</a></li>
    <li class="list-item"><a href="/shorturl">URL Shortener</a></li>
    <li class="list-item"><a href="/exercise">Exercise Tracker</a></li>
    <li class="list-item"><a href="/filemeta">File Metadata</a></li>
    <li class="list-item"><a href="/whoami">Who am I? (request header parser)</a></li>
    <li class="list-item"><a href="/poem">Random Poem Generator</a></li>

  </ul>
</aside>
    </h2>
    </div>
  </div>
</div>
</section>


<% include partials/footer %>