<% include partials/header %>

<h1 class="title is-1 has-text-centered">
    Who am I?
</h1>

<h2 class="subtitle is-3 has-text-centered">Request Format:</h2>
<p class="content has-text-centered is-size-5">
   <strong>GET</strong><em><a href="/api/whoami">/api/whoami</a></em>
</p>
<p class="content has-text-centered">
    Returns JSON with request IP address, preferred language, and software(browser).
</p>


<% include partials/footer %>