<% include partials/header %>

<h1 class="title is-1 has-text-centered">
    Time
</h1>

<h2 class="subtitle is-3 has-text-centered">Request Format:</h2>
<p class="content has-text-centered is-size-5">
   <strong>GET:</strong><em><a href="/api/timestamp">/api/timestamp/:dateString</a></em>
</p>
<p class="content has-text-centered">
    Returns JSON with the unix and UTC formats of the requested date.
</p>


<% include partials/footer %>